* {
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

:root {
    --headline-font: 'Raleway', sans-serif;
    --content-font: 'Open Sans', sans-serif;
    --color-article1: #FB3B64;
    --color-article2: #07ACE6;
    --color-article3: #55DFB4;
    --color-button-article1: #EB476E;
    --color-background: #FFFFFF;
    --color-middle-background: #F7F7F7;
    --color-border: #E8E9ED;
    --color-shadow: rgba(7, 172, 230, .16);
    --color-header-shadow: rgba(0, 0, 0, 0.16);
    --color-header_copyright: #A5A5A5;
    --color-header_form-footer: #08A6E4;
    --color-checkbox-text: #707070;
    --color-checkbox-border: #95989A;
    --color-pricing-head: #13253B;
    --color-base: #000000;
    --weight-headline: 25rem;/*400*/
    --weight-buttons: 43.75rem;
    --weight-numbers: 50rem;/*800*/
    --weight-prices_header: 18.75rem; /*300*/
    --size-header-menu: 0.6875rem;
    --size-footer-logo: 1.625rem;
    --size-header-logo: 2rem;
    --size-section2-numbers: 1.25rem;
    --size-limited-offer: 0.75rem;
    --size-pricing-list: 0.875rem;
    --size-numebrs-foot-side: 1.0625rem;
    --size-text-foot-btn: 1rem;
    --size-section1-5-title: 3.0625rem;
    --size-section2-3-4-title: 2.25rem;
    --size-section4-headline: 1.325rem;
    --size-section4-btn: 0.8125rem;
    --size-section4-prices-numbers: 2.875rem;
    --size-checkbox: 0.5625rem;
    --border-radius-pricing-list: 1.125rem;
    --border-radius-pricing-button: 1.4375rem;
    --border-radius-section3: 0.3125;
    --border-radius-section1-button: 2.5rem;
    --border-radius-section5-button: 2.1875rem;
    --border-radius-checkbox: 0.25rem;
    --border-radius-list-checkbox: 0.125rem;
}

body {
    font-family: var(--headline-font);
}

.header {
    box-shadow: 0 3px 6px var(--color-header-shadow);
    padding-left: 10px;
}

.container {
    max-width: 1352px;
    margin: 0 auto;
}

.page_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.page-logo{
    color: var(--color-header_form-footer);
    font-size: var(--size-header-logo);
    font-weight: var(--weight-prices_header);
}

.page-nav-list {
    display: flex;
}

.page-nav__element {
    padding: 26px 25px;
}

.page-nav__element a {
    font-family: var(--content-font);
    color: var(--color-header_copyright);
    font-size: var(--size-header-menu);
    font-weight: var(--weight-headline);
    text-transform: uppercase;
    padding: 28px 18px 22px;
    border-bottom: 4px solid transparent;
}

.page-nav__element a:hover {
    color: var(--color-base);
    border-color: var(--color-header_form-footer);
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.banner__title {
    color: var(--color-base);
    font-weight: var(--weight-headline);
    font-size: var(--size-section1-5-title);
    margin: 130px 0 30px 0;
}

.base_text {
    color: var(--color-base);
    font-weight: var(--weight-headline);
    font-size: var(--size-text-foot-btn);
    font-family: var(--content-font);
}

.banner__text {
    margin-bottom: 30px;
}

.btn {
    font-family: var(--content-font);
    color: var(--color-background);
    font-weight: var(--weight-buttons);
    box-shadow: 5px 10px 14px var(--color-shadow);
    padding: 15px 50px;
    display: inline-block;
}

.banner__btn {
    font-size: var(--size-text-foot-btn);
    background: var(--color-header_form-footer);
    border-radius: var(--border-radius-section1-button);
    padding: 20px 150px;
}

.banner__background {
    background-image: url("../assets/Background.png");
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.section_statistics {
    box-shadow: 0 -5px 80px var(--color-header-shadow);
    max-height: 100%;
}

.title_base {
    font-size: var(--size-section2-3-4-title);
    font-weight: var(--weight-headline);
}

.statistics__title {
    text-align: center;
    padding: 100px 0 30px;
}

.statistics {
    display: flex;
    justify-content: space-around;
}

.statistics__article {
    max-width: 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.statistics__circle {
    width: 63px;
    height: 62px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    position: relative;
}

.circle1 {
    background: var(--color-article1);
}

.circle2 {
    background: var(--color-article2);
}

.circle3 {
    background: var(--color-article3);
}

.statistics__photo {
   position: absolute;
   right: -30%;
}

.statistics__text1 {
    font-size: var(--size-section2-numbers);
    font-weight: var(--weight-numbers);
    margin: 20px;
    letter-spacing: 6px;
}

.statistics__text2 {
    font-size: var(--size-numebrs-foot-side);
    font-weight: var(--weight-headline);
    color: var(--color-header_copyright);
}

.benefits {
    background: var(--color-middle-background);
    padding: 100px 0;
}

.benefits_container {
    padding: 0 100px;
}

.benefits__box  {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background: var(--color-background);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius-section3);
    margin-bottom: 40px;
}

.benefits__article {
    max-width: 440px;
    margin: 70px 35px;
}

.benefits__article::after {
    content: "";
    max-width: 328px;
    border: 4px solid var(--accent_color);
    display: block;
    margin-top: 50px;
}

.benefits__text {
     margin-top: 30px;
    line-height: 1.375rem;
}

.benefits__photo {
    position: relative;
}

.benefits__photo img {
    position: relative;
    z-index: 2;
}

.benefits__section3 {
    display: flex;
}

.article_mac {
    --accent_color: var(--color-article1);
}

.article_iphone {
    --accent_color: var(--color-article2);
    margin: 70px 0;
}

.article_trumpet {
    --accent_color: var(--color-article3);
    max-width: none;
    margin: 70px 35px;
}

.benefits__section1 .benefits__photo {
    margin-right: 120px;
    margin-bottom: 40px;
}

.benefits__section1 .benefits__photo::before {
    content: "";
    width: 180px;
    height: 180px;
    background: var(--color-article1);
    transform: rotate(45deg);
    border-radius: 41px;
    display: block;
    position: absolute;
    right: 0;
    top: -40px;
}

.img-Mac {
    max-width: 360px;
    height: auto;
}

.benefits__section2 {
    flex-direction: row-reverse;
    padding: 0 20px 0 70px;
}

.benefits__section2 .benefits__photo::before {
    content: "";
    width: 320px;
    height: 320px;
    background: var(--color-article2);
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 0;
    top: -20px;
}

.imgiphone {
    max-width: 420px;
    height: auto;
}

.benefits__trumpet {
    max-width: 620px;
}

.benefits__photo_trumpet {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-article3);
    border: none;
    border-radius: var(--border-radius-section3);
    margin-left: 60px;
}

.imgtrumpet {
    max-width: 290px;
    height: auto;
    margin-top: 55px;
}

.pricing {
    margin: 100px auto;
    max-height: 100%;
}

.pricing h2 {
    text-align: center;
    padding-bottom: 50px;
}

.pricing__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 0 100px;
}

.pricing__box {
    min-width: 300px;
    max-height: 100%;
    text-align: center;
    border: 1px solid var(--accent_color);
    border-radius: var(--border-radius-pricing-list);
}

.pricing_headline {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}

.pricing_title{
    font-size: var(--size-section2-numbers);
    font-weight: var(--weight-buttons);
}

.pro-title{
    font-size: var(--size-section4-headline);
}

.pricing__numbers {
    font-size: var(--size-section4-prices-numbers);
    font-family: var(--content-font);
    font-weight: var(--weight-prices_header);
    color: var(--accent_color);
    margin-top: 20px;
}

.pricing__text {
    font-size: var(--size-limited-offer);
    font-weight: var(--weight-headline);
    margin-top: 15px;
}

.pricing_list {
    font-size: var(--size-pricing-list);
    font-family: var(--content-font);
    font-weight: var(--weight-headline);
    padding-bottom: 15px;
}

.pricing__basic{
    --accent_color: var(--color-article1);
}

.pricing__basic .pricing__numbers {
    padding-bottom: 25px;
}

.pricing__pro {
    --accent_color: var(--color-article2);
    box-shadow: 5px 10px 27px var(--color-shadow);
    min-width: 320px;
    margin: 0 40px;
}

.pricing__pro .pricing__element {
    padding-bottom: 15px;
}

.pricing__premium {
    --accent_color: var(--color-article3);
}

.pricing__element::before {
    content: "";
    width: 11px;
    height: 11px;
    background-image: url("../assets/Ckechmark-1.svg");
    background-size: cover;
    background-position: center;
    display: inline-block;
    margin-right: 10px;
}

.pricing__element-not::before {
    background-image: url("../assets/Close.svg");
}

.pricing__element {
    margin-bottom: 20px;
}

.pricing__box::after{
    content: "Begin";
    font-family: var(--content-font);
    font-size: var(--size-section4-btn);
    color: var(--color-background);
    background: var(--accent_color);
    border-radius: var(--border-radius-pricing-button);
    padding: 15px 55px;
    position: relative;
    bottom: -10px;
    cursor: pointer;
}

.pricing__pro.pricing__box::after{
    box-shadow: 5px 10px 27px var(--color-shadow);
}

.contact {
    max-height: 100%;
    padding: 100px 200px;
}

.contact__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact_column {
    max-width: 50%;
    flex-wrap: wrap;
}

.contact__title {
    padding: 0;
    margin: 0;
    line-height: 3.6875rem;
}

.contact__number, .contact__mail {
    font-family: var(--content-font);
}

.form {
    display: flex;
    flex-direction: column;
}

.form__label {
    color: var(--color-header_form-footer);
    font-family: var(--content-font);
    font-size: var(--size-header-menu);
    font-weight: var(--weight-buttons);
    letter-spacing: 3px;
}

.form__input {
    border: none;
    border-bottom: 1px solid var(--color-checkbox-border);
    line-height: 2.625rem;
}

.form__field {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.checkbox__label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox__label {
    display: flex;
    font-family: var(--content-font);
    font-size: var(--size-checkbox);
    color: var(--color-checkbox-text);
    font-weight: var(--weight-headline);
    line-height: 17px;
}

.checkbox {
    height: 24px;
    flex-shrink: 0;
    flex-basis: 24px;
    border: 1px solid var(--color-checkbox-border);
    border-radius: var(--border-radius-checkbox);
    margin-right: 15px;
    cursor: pointer;
}

.checkbox__label input:checked ~ .checkbox {
    background-image: url("../assets/Checkmark.svg");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.form__button {
    color: var(--color-background);
    font-size: var(--size-section4-btn);
    background-color: var(--color-header_form-footer);
    border-radius: var(--border-radius-section5-button);
    border: none;
    padding: 15px 70px;
    margin-top: 20px;
    align-self: flex-end;
}

.contact__text {
    padding: 25px 0;
}

.contact__number {
    padding-left: 20px;
}

.contact__number img, .contact__mail img {
    padding-right: 10px;
}

.footer{
    box-shadow: 0 -5px 40px var(--color-header-shadow);
    padding: 20px 10px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.twitter {
    padding-right: 25px;
}

.copyright {
    padding-top: 10px;
    color: var(--color-header_copyright);
    font-family: var(--content-font);
    font-weight: var(--weight-headline);
    font-size: 11px;
}