
$color-article1: #FB3B64;
$color-article2: #07ACE6;
$color-article3: #55DFB4;
$color-button-article1: #EB476E;
$color-background: #FFFFFF;
$color-middle-background: #F7F7F7;
$color-border: #E8E9ED;
$color-shadow: rgba(7, 172, 230, .16);
$color-header-shadow: rgba(0, 0, 0, 0.16);
$color-header_copyright: #A5A5A5;
$color-header_form-footer: #08A6E4;
$color-checkbox-text: #707070;
$color-checkbox-border: #95989A;
$color-pricing-head: #13253B;
$color-base: #000000;
$accent_color: #FB3B64, #07ACE6, #55DFB4;