$headline-font: 'Raleway', sans-serif;
$content-font: 'Open Sans', sans-serif;

$weight-headline: 25rem;/*400*/
$weight-buttons: 43.75rem;
$weight-numbers: 50rem;/*800*/
$weight-prices_header: 18.75rem; /*300*/
$size-header-menu: 0.6875rem;
$size-footer-logo: 1.625rem;
$size-header-logo: 2rem;
$size-section2-numbers: 1.25rem;
$size-limited-offer: 0.75rem;
$size-pricing-list: 0.875rem;
$size-numebrs-foot-side: 1.0625rem;
$size-text-foot-btn: 1rem;
$size-section1-5-title: 3.0625rem;
$size-section2-3-4-title: 2.25rem;
$size-section4-headline: 1.325rem;
$size-section4-btn: 0.8125rem;
$size-section4-prices-numbers: 2.875rem;
$size-checkbox: 0.5625rem;