$border-radius-pricing-list: 1.125rem;
$border-radius-pricing-button: 1.4375rem;
$border-radius-section3: 0.3125rem;
$border-radius-section1-button: 2.5rem;
$border-radius-section5-button: 2.1875rem;
$border-radius-checkbox: 0.25rem;
$border-radius-list-checkbox: 0.125rem;