@use "sass:list";

.benefits {
  background: $color-middle-background;
  padding: 100px 0;

  @include mobile{
    padding: 50px 0;
  }
}

  .benefits_container {
    padding: 0 100px;

    @include mobile{
      padding: 0;
      margin: 0 30px;
    }
  }

  .benefits__box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background: $color-background;
    border: 1px solid $color-border;
    border-radius: $border-radius-section3;
    margin-bottom: 40px;

    @include mobile {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  .benefits__article {
    max-width: 440px;
    margin: 70px 35px;

    h2 {
      text-align: left;
    }

    @include mobile{
      max-width: 100%;
      margin: 0 auto;

      h2 {
        font-size: 1.875rem;
        padding-bottom: 30px;
      }

    }
  }

  .benefits__text {
    margin-top: 30px;
    line-height: 1.375rem;

    @include mobile{
      margin-top: 15px;
      padding: 0;
    }
  }

  .benefits__photo {
    position: relative;

    img {
      position: relative;
      z-index: 2;
    }
  }

  @mixin accent($color) {
    &::after {
      content: "";
      max-width: 328px;
      border: 4px solid $color;
      display: block;
      margin-top: 50px;

      @include mobile{
        display: none;
      }
    }
  }

  .article_mac {
    @include accent(list.nth($accent_color,1));

    @include mobile {
      margin: 20px 25px;
    }
  }

  .article_iphone {
    @include accent(list.nth($accent_color,2));
    margin: 70px 0;

    @include mobile {
      margin: 20px 25px;
    }
  }

  .article_trumpet {
    @include accent(list.nth($accent_color,3));
    max-width: none;
    margin: 70px 35px;

    @include mobile{
      margin: 20px 25px;
    }
  }

  .benefits__section1 {

    .benefits__photo {
      margin-right: 120px;
      margin-bottom: 40px;

      &::before {
        content: "";
        width: 180px;
        height: 180px;
        background: $color-article1;
        transform: rotate(45deg);
        border-radius: 41px;
        display: block;
        position: absolute;
        right: 0;
        top: -40px;
      }

      @include mobile{
        margin: 40px;

        &::before{
          width: 120px;
          height: 120px;
          border-radius: 40%;
          top: -20px;
        }
      }
    }
  }

  .img-Mac {
    max-width: 360px;
    height: auto;

    @include mobile{
      max-width: 100%;
    }
  }

  .benefits__section2 {
    flex-direction: row-reverse;
    padding: 0 20px 0 70px;

    .benefits__photo::before {
      content: "";
      width: 320px;
      height: 320px;
      background: $color-article2;
      border-radius: 50%;
      display: block;
      position: absolute;
      left: 0;
      top: -20px;
    }

    @include mobile{
      flex-direction: column-reverse;
      padding: 0;

      .benefits__photo {
        margin-top: 30px;
      }

      .benefits__photo::before{
        width: 150px;
        height: 150px;
        top: -10px;
        left: 40px;
      }
    }
  }

.imgiphone {
  max-width: 420px;
  height: auto;

  @include mobile{
    max-width: 100%;
    padding: 0 40px;
  }
}

.benefits__section3 {
  display: flex;

  @include mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

  .benefits__trumpet {
    max-width: 620px;

    @include mobile{
      max-width: 100%;
      margin: 0 auto;
    }
  }

  .benefits__photo_trumpet {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-article3;
    border: none;
    border-radius: $border-radius-section3;
    margin-left: 60px;

    @include mobile{
      flex-grow: 0;
      margin: 0 auto;
    }
  }

  .imgtrumpet {
    max-width: 290px;
    height: auto;
    margin-top: 55px;

    @include mobile{
      max-width: 100%;
      margin-right: 50px;
    }
  }


