
.contact {
  max-height: 100%;
  padding: 100px 200px;

  @include tablet{
    max-width: 100%;
    margin: 40px 30px;
    padding: 0;
  }
}

  .contact__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include tablet{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .contact_column {
    max-width: 50%;
    flex-wrap: wrap;

    @include tablet{
      max-width: 100%;
    }
  }

  .contact__title {
    padding: 0;
    margin: 0;
    line-height: 3.6875rem;
  }

  .contact__text {
    padding: 25px 0;
  }

  .contact__number {
    font-family: $content-font;
    display: inline-block;

    img {
      padding-right: 10px;
    }

    @include tablet{
      padding-top: 15px;
    }
  }

  .contact__mail {
    font-family: $content-font;
    padding-right: 20px;

    img {
      padding-right: 10px;
    }

    @include tablet{
      display: block;
    }
  }

